
#issue
  %h1 On #{@issue['html']}:

  %h2 #{@person['name']} voted <b>#{@stance['stance_text']}</b>.

  %h3 #{@party['name']} voted <b>#{@party_stance['stance_text']}</b>.

  %ul
    - @hist.sort_by { |t, ss| ss.first.last['weight'] }.each do |text, stances|
      %li #{text}: #{stances.count}

  %p Individual Votes

  %ul
    - @votes.each do |v|
      - if v['shortdesc']
        %li #{v['shortdesc']}: <b>#{v['option']}</b> 
      - else 
        %li <i>#{v['text']}</i>: <b>#{v['option']}</b> 

