
#issue
  %h1 On #{@issue['html']}, #{@person['name']}...

  %p #{@stance['stance_text']}

  %h2 #{@party['name']} = #{@party_stance['stance_text']}

  - @hist.sort_by { |t, ss| ss.first.last['weight'] }.each do |text, stances|
    %li #{text}: #{stances.count}


