
#issue
  %h1= @issue_info[2]

  %div.photo <iframe src="#{@issue_info[5]}/player" width="500" height="375" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

  %p= @issue_info[3]

  %h2 
    %a{:href =>"/person/#{@person['id']}"}#{@person['name']} 
  
  %li voted <b>#{@stance['stance_text']}</b> #{@issue['html']}.

  %li #{@party['name']} voted <b>#{@party_stance['stance_text']}</b>.

  %ul
    - @hist.sort_by { |t, ss| ss.first.last['weight'] }.each do |text, stances|
      %li #{text}: #{stances.count}

  %h3 Individual Votes

  %ul#votes
    - @votes.sort_by { |v| v['datetime'] }.reverse.each do |v|
      %li{:class => v['direction'][/strong/i] ? 'strong' : 'weak'} On #{v['datetime'].to_date.strftime("%b %-e, %Y")}, #{v['display_text']} <a href="#{v['pw_url']}">(PW)</a>

:javascript
    $(document).ready( function() {
      if ($('#votes .weak').length) { 
        $('#votes .weak').hide();
        $('ul#votes').prepend('<p id="pi"><b>Only important votes are shown. Click <button id="toggler">here</button> to show all votes.</b></p>');
        $('#toggler').click( function() { 
          $('#votes .weak').show();
          $('#votes .strong').css("font-weight", "bold");
          $('p#pi').hide();
        });
      }
    });


