
#issue
  %h1 On #{@issue['html']}, #{@person['name']}...

  %p #{@stance['stance_text']}

  %h2 #{@party['name']} = #{@party_stance['stance_text']}

  - 0.upto(10).map { |i| i.fdiv(10) }.each do |i|
    %li #{i}: #{(@hist[i.to_s] || []).count }

  %p #{@hist}

