
#party
  %h1= @party['name']

  %h3 Stances

  %ul 
    - @stances.sort_by { |s| s['weight'] }.reverse.each do |s| 
      %li voted <span class="stance">#{s['stance_text']}</span> <a href="/issue/#{s['id']}">#{s['text']}</a>

  %h3 Members

  %ul 
    - @members.each do |mp| 
      %li <a href="/person/#{mp['id']}">#{mp['name']}</a>
